body{
  font-family: Arial;
}
.header {
  text-align: center;
  background-color: white;
  color: black;
  font-family: Arial;
  height: 120px;
  font-size: 24px;
  padding-top: 1px;
  position: fixed;
  width: 920px;
}

.navigation-bar {
  text-align: center;
  background-color: white;
  color: black;
  position: fixed;
  width: 920px;
  top: 110px;
}


a {
  color: black;
}

a:hover {
  color:rgb(170, 170, 170)

}

body{
  background-color: rgb(181, 181, 181);
}
.body{
  background-color: rgb(210, 210, 210);
  color: black;
  height: auto;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 150px;
}

.blog-post {
  color: white;
  position: relative; 
}

.important {
  font-size: 30px;
  font-style: italic;

}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial;
  height: 120px;
  font-size: 24px;
  padding-top: 1px;
  border-style: solid;
  border-color: purple;
  position: relative;
}

.contact {
  font-size: 12px;
}

.container {
  width: 960px;
  margin: 0 auto;

}

.login {
position: absolute;
left: 800px;
top: 12px;
position: fixed;
font-size: 9px;
}

.form{
  width: 100px;
}
